.foot {
    width: 100%;
    height: 80px;

    position: fixed;
    bottom: 0;
    
    background-color: $nav-bg;
    color: $mercury;

    display: flex;
    justify-content: center;
    align-items: center;

    &__menu {
        width: 100%;
        display: flex;
        justify-content: space-around;

        &-item {
            display: flex;
            align-items: center;


            text-decoration: none;
            list-style-type: none;
            padding: 0 $std-padding;
        }

        &-link {
            text-decoration: none;
            color: $white;
        }

        &-img {
            height: 32px;
        }
    }
}