.main {
    display: flex;
    padding: $std-padding;
    margin: 80px 0;

    // &__header {
    //     display: block;
    //     width: 100%;
    // }
    
    &__section {
        width: 85%;
        padding: $std-padding;

        // display: flex;
        // flex-direction: column;

        border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        &:hover {
            box-shadow: 5px 5px 16px $black;
        }
    }

    &__description {
        padding: $std-padding;
        
        &--list {
            padding-left: calc(2*#{$std-padding})
        }

        &--bold {
            font-weight: bold;
        }
    }

    &__title {
        font-size: 3rem;
    }

    &__img {
        width: 30%;
        float: left;
        margin: $std-padding;

        &--right {
            float: right;
        }
    }

    &__flat-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }

    &__list-item {
        text-decoration: none;
        list-style-type: none;
    }

}