/* Breakpoints list */
$min-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$max-breakpoint: 1600px;

/* Colours */
$paragraph: #323232;
$text-label: #AFAFAF;
$text-field-border: #E1E1E1;
$text-field-bg: #FAFAFA;

/* Bandsite colours*/
$nav-bg: #323232;
$primary-CTA: #323232;
$primary-CTA-hover: #0065AD;

/* Common global colours */
$black: #323232;
$light-blue: #0095ff;
$blue2: #0065AD;
$blue1: #004892;
$dark-blue: #002F5F;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

/* Spacing standards */
$std-padding: 16px;