/* Breakpoints list */
/* Colours */
/* Bandsite colours*/
/* Common global colours */
/* Spacing standards */
/* Breakpoints list */
/* Colours */
/* Bandsite colours*/
/* Common global colours */
/* Spacing standards */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

*, html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Verdana;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #323232;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 16px;
}

.nav__list-item {
  text-decoration: none;
  list-style-type: none;
  padding: 0 16px;
}

.nav__link {
  text-decoration: none;
  color: #FFFFFF;
}

.aside {
  width: 20%;
}

.aside__logo {
  position: relative;
  top: -80px;
  margin: 16px;
  max-width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 5px 5px 16px #323232;
          box-shadow: 5px 5px 16px #323232;
}

.aside__list {
  padding: 16px;
  width: 100%;
}

.aside__list-item {
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  padding: 0 16px;
}

.aside__link {
  display: block;
  text-decoration: none;
  color: #323232;
  padding: 4px 8px;
}

.aside__link:hover, .aside__link:active {
  border: 1px solid #AFAFAF;
  border-left: none;
  border-right: none;
}

.foot {
  width: 100%;
  height: 80px;
  background-color: #323232;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot__menu {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.foot__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
  padding: 0 16px;
}

.foot__menu-link {
  text-decoration: none;
  color: #FFFFFF;
}

.foot__menu-img {
  height: 32px;
}

/* Global Styling */
.button {
  background-color: #323232;
  border-radius: 6px;
  border: none;
  font-family: 'Avenir Next Regular', 'Avenir Next Demi Bold', 'Avenir Next Bold', 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  padding: 15px;
}

.parent-container {
  width: 100%;
  min-width: 320px;
}
/*# sourceMappingURL=styles.css.map */